<!doctype html>
<head>
	<title>Timebus</title>
	<script defer src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
  <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
</head>
<body>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<div id="updateDiv">
    <h1 id="updates">Updates</h1>
  </div>
	<p>
		The first station is:
		<cb>{{ station }}</cb>! <!--Gets the random number from the python file-->
	</p>
  <div id="map"></div>
</body>